footer
	.wrapper
		.footer-copyright
			.flex
				.footer-wrapper 
					a.call-privacy(href="") 隱私政策
					span /
					a.call-terms(href="") 條款與條件
					span.block 聯絡我們 base@gmail.com
				.footer-copy
					span BASE 版權所有 © BASE All Rights Reserved.