head
	meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	meta(name='format-detection', content='telephone=no')

	link(rel='shortcut icon', href='')
	// Favicon
	link(rel='apple-touch-icon', href='/images/touch-icon-iphone.png')
	link(rel='apple-touch-icon', sizes='76x76', href='/images/touch-icon-ipad.png')
	link(rel='apple-touch-icon', sizes='120x120', href='/images/touch-icon-iphone-retina.png')
	link(rel='apple-touch-icon', sizes='152x152', href='/images/touch-icon-ipad-retina.png')
	// MetaData記錄
	meta(name='DESCRIPTION', content='')
	meta(name='KEYWORDS', content='')
	meta(name='AUTHOR', content='')
	meta(name='COPYRIGHT', content='')
	meta(name='apple-itunes-app', content='')
	// 提交網站到 Google 的索引碼

	meta(http-equiv="Content-Secutiry-Policy" content="default-src 'self' www.google-analytics.com apis.google.com fonts.googleapis.com accounts.google.com fonts.gstatic.com ssl.gstatic.com;")

	// Robots設定
	meta(name='robots', content='none')

	// 行動裝置顯示設定
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	// base
	link(rel='stylesheet', href='styles/normalize.css', type='text/css')
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.min.css', type="text/css")
	// element
	- var num = Math.floor(Math.random() * (15 - 1300) + 1300)
	link#bootstrap-css(href='css/main.css?' + num, rel='stylesheet')

	// base JS
	script(type='text/javascript', src='https://code.jquery.com/jquery-3.4.1.min.js', integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
	script(type='text/javascript', src='script/jqueryUI/jquery-ui-1.11.1.js')
	script(type='text/javascript', src='script/lazyload/lazyload.js')
	script(type='text/javascript', src='script/base/classie.js')
	script(type='text/javascript', src='script/base/jquery.easing.min.js')
	
	script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js')
	script(src='https://unpkg.com/axios/dist/axios.min.js')

	//
		判斷瀏覽器是否支援HTML5與CSS31
		<script type="text/javascript" src="script/base/modernizr.custom.js"></script>
	// 讓IE8懂html5 tag與部分CSS3
	//if lt IE 9
		script(src='script/base/html5shiv.min.js')
		script(src='script/base/IE9.js')
	// IE10 hack carrie 20151226
	// [if !IE] <!
	script(type='text/javascript').
		if ( /*@cc_on!@*/ false) {
		document.documentElement.className += ' ie10';
		}
	// <![endif]

	title Base