header
  .wrapper
    .flex
      .logo
        a(href="javascript:;") BASE LOGO
      .nav
        a(href="") 選單
        a(href="") 選單
        a(href="") 選單
        a(href="") 選單
        a(href="") 選單
        a(href="") 選單
        a(href="") 選單