doctype html
html(lang="zh-Hant")
	include head
	body
		include header
		.container
			.wrapper.detail
				.item(href="/detail.html")
					.item-content
						.data-txt WordPress網站 各項服務費用
						.data-info
							table
								thead
									tr
										th 功能項目
										th 規格說明
										th 費用單價
								tbody
									tr
										td.column-1 商業佈景主題
										td.column-2
											| (1) 服務：WordPress 商業佈景主題安裝及設定、佈景主題中文化修改。
											br
											| (2) 外掛：無。
										td.column-3 3,000/式
									tr
										td.column-1 安裝設定
										td.column-2
											| (1) 服務：WordPress 安裝、資料庫設定、基本資料設定、網站功能設定。
											br
											| (2) 外掛：無。
										td.column-3 800/式
									tr
										td.column-1 內容編輯
										td.column-2
											| (1) 服務：WordPress 內容編輯之相關外掛安裝及設定。
											br
											| (2) 外掛：傳統編輯器、拖拉編輯器、圖文編輯器、內容匯入程式、頁面超連結、文章複製、數字分頁、網頁表格。
										td.column-3 800/式
									tr
										td.column-1 自訂排序
										td.column-2
											| (1) 服務：WordPress 自訂排序之相關外掛安裝及設定。
											br
											| (2) 外掛：分類排序、文章排序、頁面排序。
										td.column-3 800/式
									tr
										td.column-1 聯絡表單
										td.column-2
											| (1) 服務：WordPress 聯絡表單之相關外掛安裝及設定。
											br
											| (2) 外掛：聯絡表單、Google reCAPTCHA。
										td.column-3 800/式
									tr
										td.column-1 SEO優化
										td.column-2
											| (1) 服務：WordPress SEO優化之相關外掛安裝及設定。
											br
											| (2) 外掛：Google網站地圖、301轉址、SEO優化。
										td.column-3 800/式
									tr
										td.column-1 後台安全
										td.column-2
											| (1) 服務：WordPress 後台安全之相關外掛安裝及設定。
											br
											| (2) 外掛：限制登入、防火牆和病毒掃描、隱藏登入頁面。
										td.column-3 800/式
									tr
										td.column-1 社群分享
										td.column-2
											| (1) 服務：WordPress 社群分享之相關外掛安裝及設定。
											br
											| (2) 外掛：社群分享按鈕。
										td.column-3 800/式
									tr
										td.column-1 流量分析
										td.column-2
											| (1) 服務：WordPress 流量分析之相關外掛安裝及設定。
											br
											| (2) 外掛：Google Analytics流量分析。
										td.column-3 800/式
									tr
										td.column-1 效能優化
										td.column-2
											| (1) 服務：WordPress 效能優化之相關外掛安裝及設定。
											br
											| (2) 外掛：網頁壓縮、停用所有更新、關閉Google字體、網站快取、資料庫優化。
										td.column-3 800/式
									tr
										td.column-1 圖片應用
										td.column-2
											| (1) 服務：WordPress 圖片應用之相關外掛安裝及設定。
											br
											| (2) 外掛：圖片延遲載入、燈箱特效、圖片壓縮。
										td.column-3 800/式
									tr
										td.column-1 網站備份
										td.column-2
											| (1) 服務：WordPress 網站備份之相關外掛安裝及設定。
											br
											| (2) 外掛：程式自動備份、資料庫自動備份。
										td.column-3 800/式
									tr
										td.column-1 網站會員
										td.column-2
											| (1) 服務：WordPress 網站會員之相關外掛安裝及設定。
											br
											| (2) 外掛：會員資料擴充。
										td.column-3 800/式
									tr
										td.column-1 購物車系統
										td.column-2
											| (1) 服務：WordPress 購物車系統之相關外掛安裝及設定。
											br
											| (2) 外掛：WooCommerce購物車、商品屬性擴充。
										td.column-3 800/式
									tr
										td.column-1 行銷折扣
										td.column-2
											| (1) 服務：WordPress 行銷折扣之相關外掛安裝及設定。
											br
											| (2) 外掛：購物折扣、折價卷、紅利點數。
										td.column-3 800/式
									tr
										td.column-1 金流系統串接
										td.column-2
											| (1) 服務：WordPress 金流系統串接之相關外掛安裝及設定。
											br
											| (2) 功能：線上刷卡、虛擬帳號、WebATM、超商代碼繳費、超商條碼繳費、超商取貨付款、宅配貨到付款等支付方式。
											br
											| (3) 廠商：藍新金流/綠界科技/紅陽科技/歐付寶/PayNow立吉富/PayPal/LINE等金流廠商。
										td.column-3 800/式
									tr
										td.column-1 物流系統串接
										td.column-2
											| (1) 服務：WordPress 物流系統串接之相關外掛安裝及設定。
											br
											| (2) 功能：黑貓宅急便（7-11）、台灣便利配（全家、萊爾富、OK）等物流方式。
										td.column-3 800/式
									tr
										td.column-1 臉書登入
										td.column-2
											| (1) 服務：WordPress 臉書登入之相關外掛安裝及設定。
											br
											| (2) 外掛：臉書登入。
										td.column-3 800/式
									tr
										td.column-1 臉書線上聊天
										td.column-2
											| (1) 服務：WordPress 臉書線上聊天之相關外掛安裝及設定。
											br
											| (2) 外掛：臉書線上聊天。
										td.column-3 800/式
									tr
										td.column-1 臉書留言
										td.column-2
											| (1) 服務：WordPress 臉書留言之相關外掛安裝及設定。
											br
											| (2) 外掛：臉書留言。
										td.column-3 800/式
									tr
										td.column-1 多國語系
										td.column-2
											| (1) 服務：WordPress 多國語系之相關外掛安裝及設定。
											br
											| (2) 外掛：多國語系。
										td.column-3 800/式
									tr
										td.column-1 多國貨幣
										td.column-2
											| (1) 服務：WordPress 多國貨幣之相關外掛安裝及設定。
											br
											| (2) 外掛：多國貨幣。
										td.column-3 800/式
									tr
										td.column-1 特定外掛
										td.column-2
											| (1) 服務：特定外掛之安裝及設定，例如線上教學、庫存管理、內容採集等特殊功能之外掛。
											br
											| (2) 備註：如果特定外掛為商業版，需購買授權才能使用。
										td.column-3 800/式
									tr
										td.column-1 商業版橫幅動畫
										td.column-2
											| (1) 服務：商業版 Slider Revolution Responsive 網站橫幅動畫之外掛安裝及設定。
											br
											| (2) 備註：此外掛為商業版，需購買授權才能使用。
										td.column-3 2,000/式
									tr
										td.column-1 商業版編輯器
										td.column-2
											| (1) 服務：商業版 WPBakery Page Builder 網站編輯器之外掛安裝及設定。
											br
											| (2) 備註：此外掛為商業版，需購買授權才能使用。
										td.column-3 2,500/式
									tr
										td.column-1 網頁內容編輯
										td.column-2
											| (1) 服務：網頁內容文案、圖片、影音等資料之編輯排版。
											br
											| (2) 備註：本服務為每頁單獨收費，例如共有5頁需要編輯排版，總費用=費用單價x5。
										td.column-3 800/頁

		include footer

include js
